@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=DM+Serif+Display&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --text-color: #d6d1ce;
  --background: #121212;
  --accent: slateblue;
  --accent2: lightsalmon;
  --rotation: 0deg;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: var(--text-color);
  background-color: var(--background);
  padding: 0px;
  margin: 0px;

  display: block;
  overflow-x: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 5rem;
  scrollbar-width: thin;
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: var(--accent) var(--background);
  }
}

body {
  margin: 0px;
  padding: 0px;
}

body::before {
  position: fixed;
  inset: 0 0 0 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 1000;
  opacity: 30%;
  background-color: #00000000;
  filter: url("#grainy");
  pointer-events: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

* {
  cursor: none;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--accent);
  transform-origin: top;
}
.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--accent);
  transform-origin: bottom;
}

.strikethrough {
  background-color: var(--accent);
  width: 100%;
  height: 15px;
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  transform-origin: left;
}

.strikethrough:nth-child(1) {
  background-color: var(--accent2);
}

@media (width < 850px) {
  .strikethrough {
    height: 8px;
  }
}

.home-inner {
  background-color: var(--background);
  z-index: 10;
  position: relative;
  overflow: hidden;
}
