@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=DM+Serif+Display&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --text-color: #d6d1ce;
  --background: #121212;
  /* --accent: burlywood; */
  /* --accent: lightsalmon; */
  --accent: slateblue;
  --accent2: lightsalmon;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: var(--text-color);
  background-color: var(--background);

  display: block;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

* {
  cursor: none;
}

.cursor {
  /* background-color: transparent;
  border: 2px solid var(--text-color);
  height: 60px;
  width: 60px; */
  position: fixed;
  background-color: white;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transform-origin: center;
  top: 0;
  left: 0;
  z-index: 10000;
  transition: height 200ms ease-in-out, width 200ms ease-in-out,
    border 200ms ease-in-out, background-color 200ms ease-in-out,
    mix-blend-mode- 500ms ease-in-out;

  opacity: 1;

  transition: opacity 0.5ms cubic-bezier(0.165, 0.84, 0.44, 1);
  mix-blend-mode: difference;
  will-change: transform;
  user-select: none;
  pointer-events: none;
}

.cursor .interactable {
  opacity: 0;
  transform: scale(12);
}
.interactable {
  border: 0px;
  opacity: 0;
}

.cursor-trail {
  position: fixed;
  background: white;
  opacity: 0.1;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  z-index: 999;
  transition: 200ms cubic-bezier(0.165, 0.84, 0.44, 1) opacity,
    200ms cubic-bezier(0.165, 0.84, 0.44, 1) scale;
  user-select: none;

  pointer-events: none;
  scale: 1;
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.cursor-trail.trail-interactable {
  opacity: 1;
  scale: 2;
  color: var(--background);
}

.navbar {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 2rem 0 2rem;
}

.hamburger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  border-radius: 9999999px;
  background-color: white;
}

.hamburger-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 9999999px;
  background-color: var(--accent);
  border-width: 0;
  z-index: 90;
}

.hamburger-button .line {
  transition: 1s;
  stroke-dasharray: 60 32 60 300;
}

.hamburger-button .hamburger {
  transition: 1s ease-in-out, rotate 1s;
}

.hamburger-button-anim .hamburger {
  translate: 3px -3px;
  rotate: 0.125turn;
}

.hamburger-button-anim .line {
  stroke-dasharray: 60 105 60 300;
  stroke-dashoffset: -90;
}

#signature {
  stroke-dasharray: 90;
  stroke-dashoffset: 90;
  animation: sign 2s cubic-bezier(0.61, 0.41, 0.05, 0.985) forwards;
  transition-timing-function: cubic-bezier(0.61, 0.41, 0.05, 0.985);
}

@keyframes sign {
  to {
    stroke-dashoffset: 0;
  }
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent);
  transform-origin: top;
}

.strikethrough {
  background-color: var(--accent);
  width: 100%;
  height: 15px;
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  transform-origin: left;
}

.strikethrough:nth-child(1) {
  background-color: var(--accent2);
}

@media (width < 850px) {
  .strikethrough {
    height: 8px;
  }
}
