.menu {
  position: fixed;
  inset: 0 0 0 0;
  flex: 1;
  display: flex;
  z-index: 10;
  overflow: hidden;
}

.menu-left {
  background-color: var(--text-color);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 60%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-right {
  background-color: black;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 60%;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-top: 5rem;
  padding-bottom: 6rem;
  padding-right: 5rem;
  justify-content: space-between;
}

.menu h4 {
  text-transform: uppercase;
  color: var(--background);
  letter-spacing: 2px;
}

.menu hr {
  width: 100px;
}

.menu-link {
  font-size: 10rem;
  font-family: "DM Serif Display", serif;
  color: var(--background);
}

.menu-socials {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
}

.social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -1rem;
}

.social-item span {
  margin-left: 1rem;
  transition: all 200ms ease-in-out;
  font-size: 1.2rem;
}

.social-item h4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: darkgrey;
  font-weight: 400;
}

.social-item:hover span {
  transform: translate(10px, -10px);
}

@media (width < 800px) {
  .menu-left {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 40%;
  }

  .menu-right {
    bottom: 0;
    top: 60%;
    width: 100%;
    right: 0;
    left: 0;
    align-items: center;
    padding-bottom: 2rem;
  }

  .menu-socials {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
  }

  .social-item span {
    margin-right: 1rem;
  }

  .social-item:hover span {
    transform: translate(0px, 0px);
  }
}
